@import "../../../variables.module.scss";

.listWrapper {
  background: $white-color;
  .item {
    display: grid;
    padding: 20px;
    border-bottom: 1px solid $grey-color;
    grid-template-columns: 20% auto 10%;
    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
    }
    .thumbnailWrapper {
      text-align: center;
      .thumbnail {
        margin: auto;
        width: 70%;
        height: auto;
      }
    }

    .description {
      .price {
        display: flex;
        align-items: center;
        gap: 10px;
        strong {
          font-size: 15px;
        }
        .shipping {
          display: inline-block;
          width: 16px;
          height: 16px;
          background-color: $green-color;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-size: 11px;
          }
        }
      }
      .title {
        margin-top: 10px;
      }
    }
    .condition {
      color: $grey-extra-dark-color;
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .listWrapper {
    .item {
      grid-template-columns: auto;
    }
  }
}
