@import "../../../../../variables.module.scss";

.itemWrapper {
  background: $white-color;
  padding: 30px;
  .item {
    display: grid;
    grid-template-columns: 70% auto;
  }
  .price {
    margin: 20px auto 30px;
    font-size: 30px;
  }
  .button {
    width: -webkit-fill-available;
    background: $blue-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background: $blue-light-color;
    }
  }
  .description {
    margin-top: 40px;
    p {
      margin-top: 20px;
      white-space: pre-line;
      float: right;
      display: flex;
      align-items: center;
      word-break: break-all;
    }
  }
}

@media (max-width: 767px) {
  .itemWrapper {
    .item {
      grid-template-columns: auto;
    }
  }
}
