$yellow-color: #fff059;
$grey-color: #ebebeb;
$grey-dark-color: #dcdcdc;
$grey-extra-dark-color: #717171;
$white-color: #ffffff;
$green-color: #03d903;
$blue-color: #0b65e2;
$blue-light-color: #4f8add;
